<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(233, 113, 151);
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <marquee style="font-size:xx-large">Login sayfasına hoş geldiniz</marquee>
    <form>
        <input type="text" placeholder="Adınız"requried>
        <input type="password" placeholder="Şifre"requried>
        <input type="submit" value="Giriş yap">
    </form>
</body>
</html>